<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Создание</title>
</head>
<body>
<h1>Создание пользователя</h1>
<form th:method="POST" th:action="@{/admin/}" th:object="${user}">
    <label for="username">Имя: </label>
    <input type="text" th:field="*{username}" id = "username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <p></p>
    <label for = "password">Пароль: </label>
    <input type="text" th:field="*{password}" id = "password"/>
    <p></p>
    <label for="email">Электронная почта: </label>
    <input type="text" th:field="*{email}" id = "email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <p></p>
    <label for="phone">Телефон: </label>
    <input type="text" th:field="*{phone}" id = "phone"/>
    <p></p>
    <tr>
        <td>Права доступа</td>
        <td>
            <th:block th:each="role : ${roles}">
                <input type="checkbox" name="checked" th:value="${role.getId()}"/>
                <label th:text="${role.getRole()}"></label>
            </th:block>
        </td>
    </tr>
    <hr/>
    <input type="submit" value="Создать"/>
</form>
<br/>
<form class="button" th:method="GET" th:action="@{'/admin/'}">
    <input type="submit" value="Назад"/>
</form>

</body>
</html>