<!DOCTYPE html>
<html lang="ru-ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карта сотрудника</title>
</head>
<body>
<h1>
    <a th:text="${user.getUsername()}">name</a>
</h1>
<p>Идентификационный номер: <a th:text="${user.getId()}">id</a></p>
<p>E-mail:
<a th:text="${user.getEmail()}">e-mail</a>
<a th:href="'mailto:' + ${user.getEmail()}">Send email </a>
</p>
<p>Основной номер: <a th:href="'tel:' + ${user.getPhone()}" th:text="${user.getPhone()}">phone</a>
</p>
<br/>
<hr/>
<form class="button" th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form class="button" th:method="DELETE" th:action="@{'/admin/' + ${user.getId()}}">
    <input type="submit" value="Удалить"/>
</form>
<br/>
<form class="button" th:method="GET" th:action="@{/admin/}">
    <input type="submit" value="Назад"/>
</form>
</body>
</html>